.catkin_tools/*
build/*
devel/*
logs/*
data/*
.vscode/
*.weights
*.pt
*/__pycache__/*
*/.ipynb_checkpoints/*
*/.vscode/*
*/.idea/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ropeproject/*
*/.hypothesis/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ropeproject/*
*/.hypothesis/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ropeproject/*
*/.hypothesis/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ropeproject/*
*/.hypothesis/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ropeproject/*
*/.hypothesis/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ropeproject/*
*/.hypothesis/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ropeproject/*
*/.hypothesis/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ropeproject/*
*/.hypothesis/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ropeproject/*
*/.hypothesis/*
*/.pytest_cache/*
*/.mypy_cache/*
*/.coverage
*/.coverage.*
*/.cache/*
*/.eggs/*
*/.tox/*
*/.nox/*
*/.ro